format = """
$directory\
$vcsh\
$git_branch\
$git_commit\
$git_state\
$git_status\
$hg_branch\
$line_break\
$character"""

[character]
success_symbol = "[ﮂ](bold cyan) "
error_symbol = "[ﮂ](bold cyan) "

[directory]
truncation_length = 8
truncation_symbol = ".../"
home_symbol = ""
style = "bold yellow"